#codingarea {
float:right;   
width:50%; 
height:600px; 
margin-top: -155px;
}

#text {
width:100%; 
height:750px; 
resize: none;
border-style: solid;
border-color:blue;
}

#learningArea {
float:left;
margin-left: 20px;   
}

#appHeading {
color: white;  
background-color: #000080;  
}

#mainBody {
background-color: lightgray;
font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

#runCode {
margin-top: 10px;    
Margin-left: 5%;    
margin-right: 5%;
font-size: 20px;
background-color: green;
color: white;
border-radius: 12px;
font-family: 'Nobile', Helvetica, Arial, sans-serif;
width: 250px;
height: 60px;
border-color: navy;
}

#readInCode {
    margin-top: 10px;   
    Margin-right: 5%;
    font-size: 20px;
    background-color: green;
    color: white;
    border-radius: 12px;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    width: 250px;
    height: 60px;
    border-color: navy;
    }

#clearEditor {
    margin-top: 10px;   
    font-size: 20px;
    background-color:maroon;
    color: white;
    border-radius: 12px;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    width: 250px;
    height: 60px;
    border-color: navy;
}

#nextTutorial {
margin-left: 10%;    
font-size: 20px;
background-color: green;
color: white;

width: 200px;
height: 100px;
border-radius: 12px;
font-family: 'Nobile', Helvetica, Arial, sans-serif;
border-color: navy;
}

#pacmanMenu {
    margin-left: 150%;
    margin-top:20px; 
    margin-bottom: 50px;  
    font-size: 20px;
    background-color: green;
    color: white;   
    width: 200px;
    height: 150px;
    border-radius: 12px;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    background-image: url("../assets/pacmanlogo.png");
    background-size: 60px 30px;
    background-repeat: no-repeat;
    background-position-x: 48%;
    background-position-y: 10px;
    border-style: solid;
                border-color: navy; 
    }

#previousTutorial {   
    margin-left: 5%;  
    font-size: 20px;
    background-color:maroon;
    color: white;
    
    width: 200px;
    height: 100px;
    border-radius: 12px;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    border-color: navy;
    }

#logo {   
width: 100%;
height: 200px;     
background-image: url("../assets/learnJavaScriptLogoCoding.png");    
background-repeat: no-repeat;
background-color: whitesmoke; 
background-position-x: 48%;
border-bottom: solid;
border-color: navy;
margin-top: -20px;
}

.tutorialHeading {
    margin-top: 10px;
    color:white; 
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #000080
}

#codeHeading {
margin-bottom: -50px;
}

#tutorials {
    border-style: solid;
    border-color:navy;

}

#tutorialLogoMenu {   
    width: 200px;
    height: 200px;     
    background-image: url("../assets/tutorialMenulogo.png");    
    background-repeat: no-repeat;
    margin-bottom: 50px;
    margin-left: 10%;    
    background-color: white;
    border-style: solid;
    border-color: navy; 
    margin-top: 20px;
}


#menu {

    border-bottom: solid;
    border-color: navy;    
    margin-bottom: 50px;
    }

    #developmentArea {   
        width: 200px;
        height: 200px;  
        background-color: white;
        background-image: url("../assets/developmentarealogo.png");    
        background-repeat: no-repeat;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 10%;
        border-style: solid;
        border-color: navy; 
        }

        #developmentCommunicate {
            margin-top:20px;
            margin-left: 150%; 
            margin-bottom: 50px;  
            font-size: 20px;
            background-color: green;
            color: white;   
            width: 400px;
            height: 150px;
            border-radius: 12px;
            font-family: 'Nobile', Helvetica, Arial, sans-serif;
            background-size: 60px 30px;
            background-image: url("../assets/keyboardlogo.png");
            background-size: 60px 30px;
            background-repeat: no-repeat;
            background-position-x: 50%;
            background-position-y: 10px;
            border-style: solid;
            border-color: navy; 
            }

            #returnMainMenu {
            margin-left: 40%; 
            margin-bottom: 50px;   
            font-size: 20px;
            background-color: green;
            color: white;
            width: 300px;
            height: 50px;
            border-radius: 12px;
            font-family: 'Nobile', Helvetica, Arial, sans-serif;  
            border-color: navy;  
            }

            #returnMainMenuNoCode {
                margin-left: 40%; 
                margin-bottom: 50px;   
                font-size: 20px;
                background-color: green;
                color: white;
                width: 300px;
                height: 50px;
                border-radius: 12px;
                font-family: 'Nobile', Helvetica, Arial, sans-serif; 
                border-style: solid;
                border-color: navy; 
                margin-top: 10px;   
                }

            #pacmanintroheading {
            margin-left: 50px;    
            color: navy;   
            }

            #pacmanintro {
            margin-left: 10%;    
            font-family: 'Nobile', Helvetica, Arial, sans-serif;
            color: navy;
            background-color: white;
            width: 80%;
            margin-top: 30px;
            margin-bottom: 30px;
            }

            #pacmanGameImage {
            margin-left: 50px;  
            }

            #continueToPacman {
                margin-left: 10%; 
                font-size: 20px;
            background-color: green;
            color: white;
            width: 300px;
            height: 200px;
            border-radius: 12px;
            font-family: 'Nobile', Helvetica, Arial, sans-serif; 
            border-style: solid;
                border-color: navy;  
                margin-bottom: 50px;   
            }

            #homeHeading {
            margin-left: 30px;    
            margin-bottom: 50px; 
            width: 350px;
            height: 50px;
            background-color: white;
            }
          

            #homeHeading {
                width: 200px;
                height: 200px;        
                background-image: url("../assets/homelogo.png");    
                background-repeat: no-repeat;
                margin-top: 20px;
                margin-left: 100px;
                background-color: none; 
                border-style: solid;
                border-color: navy;   
            }

            #developmentOption {
                border-bottom: solid;
                border-color: navy;    
                margin-bottom: 50px;
            }

            #pacmanGameImage {
            border-color: navy;
            border-style: solid;  
            margin-bottom: -100px;  
            }

            #optionsArea {
                background-color: white;
                width: 60%;
                 height: 50%;
                margin-left: 22%;
                margin-top: -250px;
                border-color: navy;
            border-style: solid;
            }

            #pacmanintrop {
            margin-left: 50px;    
            }

            #devCodingArea {
                float:right;   
                width:50%; 
                height:600px;     
                margin-top: -80px;    
            }

            #codingAreaText {
                width:100%; 
                height:750px; 
                resize: none;
                border-style: solid;
                border-color:blue; 
                margin-top: 20px;   
            }

            #runCodeDev {
                margin-top: 10px;    
                Margin-left: 5%;    
                margin-right: 5%;
                font-size: 20px;
                background-color: green;
                color: white;
                border-radius: 12px;
                font-family: 'Nobile', Helvetica, Arial, sans-serif;
                width: 250px;
                height: 60px;
                border-color: navy;
                }
                
                #readInCodeDev {
                    margin-top: 10px;   
                    Margin-right: 5%;
                    font-size: 20px;
                    background-color: green;
                    color: white;
                    border-radius: 12px;
                    font-family: 'Nobile', Helvetica, Arial, sans-serif;
                    width: 250px;
                    height: 60px;
                    border-color: navy;
                    }
                
                #clearEditorDev {
                    margin-top: 10px;   
                    font-size: 20px;
                    background-color:maroon;
                    color: white;
                    border-radius: 12px;
                    font-family: 'Nobile', Helvetica, Arial, sans-serif;
                    width: 250px;
                    height: 60px;
                    border-color: navy;
                }

                /* #devLogo {
                    width: 200px;
                    height: 200px;        
                    background-image: url("../assets/developmentarealogo.png");    
                    background-repeat: no-repeat;
                    margin-top: -80px;
                    margin-left: 20px;
                    background-color: white; 
                    border-style: solid;
                    border-color: navy;   
                } */

                #onlineNames {
                 margin-top: -80px;  
                }

                #onlineHeading {
                    margin-left: 50px;    
                    color: navy;  
                    font-family: 'Nobile', Helvetica, Arial, sans-serif;   
                    font-size: 26px;
                }

                #onlineDiv {
                    background-color: white;
                    border-style: solid;
                    border-color: navy;  
                    width: 350px;
                    height: 200px;
                    overflow: auto;   
                    margin-left: 50px;  
                    font-size: 20px;
                    color: navy
                    
                }


                  #onlineDiv li {
                    padding: 5px 10px;
                    margin-left: -40px;
                  }

                  #onlineDiv li:nth-child(odd) {
                    background: #eee;
                    color: blue;
                  }

                  #onlineDiv {
                    list-style-type: none;
                  }

                  #selectUser {
                    background-color: white;
                    border-style: solid;
                    border-color: navy;  
                    width: 390px;
                    height: 50px;  
                    margin-left: 50px;   
                    font-size: 40px;  
                  }

                  #leftSide {
                    float:left    
                  }

                  #onlineHeading2 {
                    margin-left: 50px;    
                    color: navy;
                    font-family: 'Nobile', Helvetica, Arial, sans-serif;   
                    font-size: 26px;     
                }

                #codeSharingRequest {
                    font-size: 20px;
                    background-color: green;
                    color: white;
                    border-radius: 12px;
                    font-family: 'Nobile', Helvetica, Arial, sans-serif;
                    width: 290px;
                    height: 130px; 
                    float: right;
                    margin-top: -145px;
                    margin-left: 470px;  
                    border-color: navy;
                    background-image: url("../assets/sharingarrow.png");    
                    background-repeat: no-repeat; 
                    background-size: 30px 30px;
                    background-position-x: 125px;
                }

               
                    #privateMessage {
                        width: 85%;
                        padding: 12px 20px;
                        margin: 8px 0;
                        box-sizing: border-box;
                        border-style:solid;
                        border-color: navy;  
                      }    

                      #sendMessage {
                      margin-top: 50px;    
                      margin-left: 50px;   
                      }
                
                      #sendMessageHeader {   
                    color: navy; 
                    font-family: 'Nobile', Helvetica, Arial, sans-serif;   
                    font-size: 26px;    
                      }

                      #selectBox {
                          margin-top: 8px;
                      margin-left: 10px; 
                      font-size: 30px;
                      color: navy; 

                      }

                      #privButton {
                        font-size: 20px;
                        background-color: green;
                        color: white;
                        border-radius: 12px;
                        font-family: 'Nobile', Helvetica, Arial, sans-serif;
                        width: 200px;
                        height: 60px; 
                        margin-left: 200px;  
                        border-color: navy; 
                      }

                      #messages {
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                      }
                  
                      #messages li {
                        padding: 5px 10px;
                      }
                  
                      #messages li:nth-child(odd) {
                        background: #eee;
                      }
                  
                      #messages {
                        margin-bottom: 40px
                      }

                      #messageAreaName {
                        color: navy;  
                        margin-left: 50px; 
                        font-family: 'Nobile', Helvetica, Arial, sans-serif;   
                        font-size: 26px;  
                      }

                      #messages {
                        background-color: white;
                        border-style: solid;
                        border-color: navy;  
                        width: 85%;
                        height: 400px;
                        overflow: auto;   
                        margin-left: 50px;  
                        font-size: 20px;
                        color: navy
                    }

                    #connectedWith {
                        color: navy;  
                        margin-left: 150px; 
                        font-family: 'Nobile', Helvetica, Arial, sans-serif;   
                        font-size: 26px;  
                    }

                    #leftSideLogin {
                        float:left;
                        margin-left: 40px;
                    }

                    #loginHeader {
                        color: navy;  
                        margin-left: 50px; 
                        font-family: 'Nobile', Helvetica, Arial, sans-serif;   
                        font-size: 26px;    
                    }

                    #name {
                    width: 400px;
                    margin-left: 170px;
                    height: 50px;
                    font-size: 26px;
                    color: Navy;
                    margin-top: 30px;    
                    }

                    #nameButton {
                        font-size: 20px;
                        background-color: green;
                        color: white;
                        border-radius: 12px;
                        font-family: 'Nobile', Helvetica, Arial, sans-serif;
                        width: 200px;
                        height: 60px; 
                        margin-left: 200px;  
                        border-color: navy;  
                        margin-top: 30px;  
                        margin-left: 270px;
                    }

                    #learningPage {
                    background-color: white;    
                    font-family: 'Nobile', Helvetica, Arial, sans-serif;
                    }

                    #statusDiv {
                    background-color: white;
                    width: 700px;
                    height: 100px;
                    float: right;  
                    border-style: solid;
                    border-color: navy;
                    margin-top:-80px;
                    }

                    #status {
                    width: 400px;
                    margin-left: 20px;
                    height: 50px;
                    font-size: 26px;
                    color: Navy;   
                    }

                    #statusHeading {
                        width: 400px;
                        margin-left: 20px;
                        height: 50px;
                        font-size: 26px;
                        color: Navy;      
                    }

                    #loggedInNameDiv {
                        width: 400px;
                        margin-left: 20px;
                        height: 50px;
                        font-size: 26px;
                        color: Navy;    
                        margin-bottom: 85px;
                        margin-top: -65px;  
                       
                    }
                    