#codingarea {
float:right;   
width:50%; 
height:600px; 
margin-top: -150px; 
}

#text {
width:100%; 
height:750px; 
resize: none;
border-style: solid;
border-color:blue;
}

#learningArea {
float:left;
margin-left: 20px;   
}

#appHeading {
color: white;  
background-color: #000080;  
}

#mainBody {
background-color: lightgray;
font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

#runCode {
margin-top: 10px;    
Margin-left: 5%;    
margin-right: 5%;
font-size: 20px;
background-color: green;
color: white;
border-radius: 12px;
font-family: 'Nobile', Helvetica, Arial, sans-serif;
width: 250px;
height: 60px;
}

#readInCode {
    margin-top: 10px;   
    Margin-right: 5%;
    font-size: 20px;
    background-color: green;
    color: white;
    border-radius: 12px;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    width: 250px;
    height: 60px;
    }

#clearEditor {
    margin-top: 10px;   
    font-size: 20px;
    background-color:maroon;
    color: white;
    border-radius: 12px;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    width: 250px;
    height: 60px;
}

#nextTutorial {
margin-left: 10%;    
font-size: 20px;
background-color: green;
color: white;

width: 200px;
height: 100px;
border-radius: 12px;
font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

#pacmanMenu {
    margin-left: 43%; 
    margin-bottom: 50px;  
    font-size: 20px;
    background-color: green;
    color: white;   
    width: 200px;
    height: 150px;
    border-radius: 12px;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    background-image: url("../assets/pacmanlogo.png");
    background-size: 60px 30px;
    background-repeat: no-repeat;
    background-position-x: 48%;
    background-position-y: 10px;
    border-style: solid;
                border-color: navy; 
    }

#previousTutorial {   
    margin-left: 5%;  
    font-size: 20px;
    background-color:maroon;
    color: white;
    
    width: 200px;
    height: 100px;
    border-radius: 12px;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    }

#logo {   
width: 100%;
height: 200px;     
background-image: url("../assets/learnJavaScriptLogoCoding.png");    
background-repeat: no-repeat;
background-color: whitesmoke; 
background-position-x: 48%;
border-bottom: solid;
border-color: navy;
margin-top: -20px;
}

.tutorialHeading {
    margin-top: 10px;
    color:white; 
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #000080
}

#codeHeading {
margin-bottom: -50px;
}

#tutorials {
    border-style: solid;
    border-color:navy;

}

#tutorialLogoMenu {   
    width: 200px;
    height: 200px;     
    background-image: url("../assets/tutorialMenulogo.png");    
    background-repeat: no-repeat;
    margin-top: -250px;
    margin-bottom: 50px;
    margin-left: 43%;    
    background-color: white;
    border-style: solid;
                border-color: navy; 
}

#menu {

    border-bottom: solid;
    border-color: navy;    
    margin-bottom: 50px;
    }

    #developmentArea {   
        width: 200px;
        height: 200px;  
        background-color: white;
        background-image: url("../assets/developmentarealogo.png");    
        background-repeat: no-repeat;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 43%;
        border-style: solid;
        border-color: navy; 
        }

        #developmentCommunicate {
            margin-left: 35.5%; 
            margin-bottom: 50px;  
            font-size: 20px;
            background-color: green;
            color: white;   
            width: 500px;
            height: 150px;
            border-radius: 12px;
            font-family: 'Nobile', Helvetica, Arial, sans-serif;
            background-size: 60px 30px;
            background-image: url("../assets/keyboardlogo.png");
            background-size: 60px 30px;
            background-repeat: no-repeat;
            background-position-x: 50%;
            background-position-y: 10px;
            border-style: solid;
                border-color: navy; 
            }

            #returnMainMenu {
            margin-left: 40%; 
            margin-bottom: 50px;   
            font-size: 20px;
            background-color: green;
            color: white;
            width: 300px;
            height: 50px;
            border-radius: 12px;
            font-family: 'Nobile', Helvetica, Arial, sans-serif;    
            }

            #returnMainMenuNoCode {
                margin-left: 40%; 
                margin-bottom: 50px;   
                font-size: 20px;
                background-color: green;
                color: white;
                width: 300px;
                height: 50px;
                border-radius: 12px;
                font-family: 'Nobile', Helvetica, Arial, sans-serif; 
                border-style: solid;
                border-color: navy; 
                margin-top: 10px;   
                }

            #pacmanintroheading {
            margin-left: 50px;    
            color: navy;   
            }

            #pacmanintro {
            margin-left: 50px;    
            font-family: 'Nobile', Helvetica, Arial, sans-serif;
            color: navy;
            }

            #pacmanGameImage {
            margin-left: 50px;    
            }

            #continueToPacman {
                margin-left: 10%; 
                font-size: 20px;
            background-color: green;
            color: white;
            width: 300px;
            height: 200px;
            border-radius: 12px;
            font-family: 'Nobile', Helvetica, Arial, sans-serif; 
            border-style: solid;
                border-color: navy;     
            }

            #homeHeading {
            margin-left: 30px;    
            margin-bottom: 50px; 
            width: 350px;
            height: 50px;
            background-color: white;
            }
          

            #homeHeading {
                width: 200px;
                height: 200px;        
                background-image: url("../assets/homelogo.png");    
                background-repeat: no-repeat;
                margin-top: 20px;
                margin-left: 100px;
                background-color: none; 
                border-style: solid;
                border-color: navy;   
            }

            #developmentOption {
                border-bottom: solid;
                border-color: navy;    
                margin-bottom: 50px;
            }

            #pacmanGameImage {
            border-color: navy;
            border-style: solid;    
            margin-bottom: 30px;
            }